body {
  background: url(./images/ts-bg.png) no-repeat center fixed;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  font-family: "Arvo", serif;
}
div {
  font-family: "Arvo", serif;
}
label {
  color: black;
  padding: 3px;
  font-weight: bold;
  font-family: "Arvo", serif;
}

form {
  width: auto;
  display: flex;
  font-family: "Arvo", serif;

  border: 3px solid black;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: auto;
}
/* .workout {
  display: flex;

  padding: 10px;
  border: 1px solid #bbb;
  background-color: #eee;
} */

.info {
  background-color: #bbb;
  display: flex;
}

.exercise {
  font-weight: bold;
}
.submit {
  box-shadow: 8px 8px 25px 3px #00304e !important;
  font-family: "Arvo", serif;
  color: #dcd5d5;

  text-decoration: none;
  display: inline-block;

  position: relative;
  width: 80px;
  height: 80px;
  background-color: #00304e;
  opacity: 0.9;
  border: black;
  border-radius: 10%;

  cursor: pointer;
}

.submit:hover {
  background-color: grey;
}
.button {
  box-shadow: 8px 8px 25px 3px #00304e !important;
  font-family: "Arvo", serif;
  color: #dcd5d5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  position: relative;
  width: 80px;

  background-color: #00304e;
  opacity: 0.9;
  border: black;
  border-radius: 10%;
  margin: 50px 2px;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 150%;
  font-family: "Arvo", serif;
}
Link {
  color: white;
}

.container {
  padding: 2px 16px;
  font-family: "Arvo", serif;
}

#navbar {
  height: auto;
  width: auto;
  font-family: "Arvo", serif;
  background: white;
}

.table {
  display: table;
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 490px;
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-list li {
  display: inline;
}

.Link {
  color: red;
  font-family: "Arvo", serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  position: center;
  font-family: "Arvo", serif;
}
