body {
  background-color: yellow;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
label {
  color: black;
  padding: 3px;
  font-weight: bold;
}

li.a {
  list-style-type: square;
}

form {
  float: right;
  width: 600px;
  display: flex;

  border: 3px solid black;
  padding: 20px;
}
